@page
@model azure_app_revisit.Pages.DeploymentSlot
@{
    ViewData["Title"] = "DeploymentSlot";
}



<div class="text-center">
    <h1 class="display-4">This is Deployment Slot on Azure.  </h1>
</div>