@page
@model IndexModel
@{
    ViewData["Title"] = "Azure Tutorial";
}

<div class="text-center">
    <h1 class="display-4">Azure Revisit-VS Code With GitHub Integration </h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Azure Tutorial with ASP.NET Core</a>.</p>
</div>
